*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.slider{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100vh;
/*    background: #4B77BE ;*/
    background: linear-gradient(#4B77BE,#fff);
    z-index: -1;
}

nav{
    
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color:black;
    align-items:center;
    
}

.logo{
    grid-column: 2/3;
    font-size: 25px;    
}
 

#logo2{
    position:absolute; 
    top:5%;
    font-family: 'Yellowtail', cursive;
    color: white;
}

#hamburger{
    justify-self: end;
}

section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero{
    height:60%;
    width: 100%;
    position: relative;
}

#introductionme {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    font-family: 'Sacramento', cursive;
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 70px;
    transform: translate(-20%,-70%);
    color: white;
}

.headline2,.headline3{
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 25px;
    transform: translate(-20%,-70%);
    color: black;
}
/*.aboutme{
    content: hidden;
    top:0;
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: red;
    justify-content: center;
}
*/
.content{
    margin:0 auto;
    text-align: center;
    width: 80%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.sociallist{
    text-align: center;
    padding:15px 0 50px;
    margin: -2% auto 0;
    width: 85%;
    background: #6b96d6;
    height:7vh
}

.sociallist img{
    height: 35px;
    width: auto;
    z-index: 1;
    transition: transform 1s;
}
.sociallist img:hover{
    transform: rotate(360deg);
}

.sociallist a{
    margin:0 2%;
    font-size: 0;
    
}


.whoami{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    margin-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

.barbody1{
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 25px 30px;
    display: grid;
    height: 100%;
    place-items: center;
    width: 600px;
    background-color: white;
    border:10px solid #4B77BE;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.barbody1 .bar{
    margin: 20px 0;
}

.barbody1 .bar .info span{
    font-size: 17px;
    font-weight: 500;
}

.barbody1 .bar .progress-line{
    height: 10px;
    width: 100%;
    background-color: #f0f0f0;
}
*/

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    
  }
  ::selection{
    color: #fff;
    background: #6665ee;
  }
  .skill-barbarbody1{
    padding: 25px 30px;
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .barbody1 .bar{
    margin: 20px 0;
  }
  .barbody1 .bar:first-child{
    margin-top: 0px;
  }
  .barbody1 .bar .info{
    margin-bottom: 5px;
  }
  .barbody1 .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .barbody1 .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: #6665ee;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 90%;
  }
  .bar .progress-line.css span{
    width: 60%;
  }
  .bar .progress-line.jquery span{
    width: 85%;
  }
  .bar .progress-line.python span{
    width: 50%;
  }
  .bar .progress-line.mysql span{
    width: 75%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "90%";
  }
  .progress-line.css span::after{
    content: "60%";
  }
  .progress-line.jquery span::after{
    content: "85%";
  }
  .progress-line.python span::after{
    content: "50%";
  }
  .progress-line.mysql span::after{
    content: "75%";
  }


/*
.skills{
    align-items: center;
    justify-content: center;
}

.skills .head{
    color: black;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: -10%;
    padding-bottom: 3%;
}


.body1,.body2{
    color:black;
    width: 50%;
    
    margin-top: 5%;
    padding: 20px;
}

.body1{
    float:left;
}
.body2{
    float:right;
}

.body1 li,.body2 li{
    position: relative;
    list-style: none;
    margin: 5% 0 5%;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
}

.container {
    margin: 3% 0;
    width: 100%;
    height: 2vh;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    
 }

.html{
    width: 70%;
    background-color: black;
    border-radius: 20px;
    height: 2vh;
}

.css{
    width: 50%;
    background-color: black;
    border-radius: 20px;
    height: 2vh;
}
.js{
    width: 10%;
    background-color: black;
    border-radius: 20px;
    height: 2vh;
}
.video-edit{
    width: 38%;
    background-color: black;
    border-radius: 20px;
    height: 2vh;
}
           <div class="body1">
                <ul>
                    <li>
                        HTML
                        <div class="container">
                            <div class="html"></div>
                        </div>
                    </li>
                    <li>
                        CSS
                        <div class="container">
                            <div class="css"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="body2">
                <ul>
                    <li>
                        JS
                        <div class="container">
                            <div class="js"></div>
                        </div>
                    </li>                    <li>
                        VIDEO EDIT
                        <div class="container">
                            <div class="video-edit"></div>
                        </div>
                    </li>
                </ul>
            </div>
*/

@media only screen and (max-width: 1024px) { /*1024den kucukse*/
    .headline2,.headline3{
        font-family: 'DM Serif Display', serif;
        position: absolute;
        top: 50%;
        left: 10%;
        font-size: 18px;
        transform: translate(-20%,-70%);
        color: black;
    }
  }

@media only screen and (max-width: 700px) { /*700den kucukse*/
    .headline2,.headline3{
        font-family: 'DM Serif Display', serif;
        position: absolute;
        top: 50%;
        left: 10%;
        font-size: 15px;
        transform: translate(-20%,-70%);
        color: black;
    }
  }
