*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  line-height: 1.5;
  color: #3d4451;
  background:#efefef;
}
::selection{
  color: #fff;
  background: #6665ee;
}


.myBtn {
    
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #6665ee; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transform : scale(0,0); /* Hidden by default */
  transition: transform 0.5s;
}

.animate{
  transform: scale(1,1);
  transition: transform 0.5s;
}

.myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
  background-color: white; /* Set a background color */
  color: #6665ee; /* Text color */
  border: 2px solid #6665ee;
  transform: scale(1.2,1.2);
  transition: transform 0.2s;
}

.slider{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100vh;
/*    background: #4B77BE ;*/
    background: linear-gradient(#4B77BE,#efefef);
    z-index: -1;
}

nav{
    
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color:black;
    align-items:center;
    
}

.logo{
  font-family: 'DM Serif Display', serif;
    grid-column: 2/3;
    font-size: 25px;    
}
 

#logo2{
    position:absolute; 
    top:5%;
    font-family: 'Yellowtail', cursive;
    color: white;
}

#hamburger{
    justify-self: end;
}

.head{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero{
    height:60%;
    width: 100%;
    position: relative;
}

#introductionme {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    font-family: 'Sacramento', cursive;
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 70px;
    transform: translate(-20%,-70%);
    color: white;
}

.headline2,.headline3{
    font-family: 'DM Serif Display', serif;
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 25px;
    transform: translate(-20%,-70%);
    color: black;
}
/*.aboutme{
    content: hidden;
    top:0;
    padding: 10px;
    width: 200px;
    height: 200px;
    background-color: red;
    justify-content: center;
}
*/
.content{
    margin:0 auto;
    text-align: center;
    width: 80%;
    background-color: #efefef;
    justify-content: center;
    align-items: center;
}

.sociallist{
    text-align: center;
    padding:15px 0 50px;
    margin: -2% auto 0;
    width: 85%;
    background: #6b96d6;
    height:7vh;
    border: 5px solid #6b96d6;
    border-radius: 15px;
}

.sociallist img{
    height: 35px;
    width: auto;
    z-index: 1;
    transition: transform 1s;
}
.sociallist img:hover{
    transform: rotate(360deg);
}

.sociallist a{
    margin:0 2%;
    font-size: 0;
    
}

.whoami{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    margin-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
}

.skill-header{
  font-size:30px; margin-bottom: 30px;
}

.barbody1 , .barbody2{
    display: flex grid;
    float:left;
    justify-content: center;
    text-align: left;
    padding: 25px 30px;
    height: 100%;
    width: 50%;
    background-color: #efefef;
    border:2px solid rgba(102, 101, 238, 0.7);
    border-radius: 20px;
    margin-bottom:50px;
    
}

.barbody1{
  margin-bottom: 50px;
  border-top:5px solid rgba(102, 101, 238, 0.7);
  border-radius: 20px 0 0 20px;
  border-right: 0;
  box-shadow: rgba(102, 101, 238, 0.4) -5px 5px, rgba(102, 101, 238, 0.3) -10px 10px, rgba(102, 101, 238, 0.2) -15px 15px, rgba(102, 101, 238, 0.1) -20px 20px, rgba(102, 101, 238, 0.05) -25px 25px;
}
.barbody2{
  border-top:5px solid rgba(102, 101, 238, 0.7);
  border-radius: 0 20px 20px 0;
  border-left: 0;
  box-shadow: rgba(102, 101, 238, 0.4) 5px 5px, rgba(102, 101, 238, 0.3) 10px 10px, rgba(102, 101, 238, 0.2) 15px 15px, rgba(102, 101, 238, 0.1) 20px 20px, rgba(102, 101, 238, 0.05) 25px 25px;
}

.barbody1 .bar,.barbody2 .bar{
    margin: 30px 0;
}

.barbody1 .bar .info span,.barbody2 .bar .info span{
    font-family: 'DM Serif Display', serif;
    font-size: 30px;
    font-weight: 500;
}

.barbody1 .bar:first-child,.barbody2 .bar:first-child{
  margin-top: 0px;
}

.barbody1 .bar .info,.barbody2 .bar .info{
  margin-bottom: 5px;
}

.barbody1 .bar .progress-line,.barbody2 .bar .progress-line{
  height: 15px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  border-radius: 10px;
}

.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform-origin: left;
  background-color: #6665ee;
  
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 60%;
}
.bar .progress-line.js span{
  width: 30%;
}
.bar .progress-line.python span{
  width: 50%;
}
.bar .progress-line.java span{
  width: 5%;
}
.bar .progress-line.fotovid span{
  width: 40%;
}
.bar .progress-line.c span{
  width: 30%;
}
.bar .progress-line.jquery span{
  width: 50%;
}

.skill-header{
  margin-top: 40px;
}

.blog{
  margin-top: 200px
}
.blog h2{
    font-size:50px; 
}

.blogcontent{
  margin:5% auto 0;
  width: 100%;
  border-radius: 20px;
  border: 2px solid #6665ee;
  height: 300px;
  background: white;
}

.blog button{
  margin-top: 0px;
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #6665ee; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 14px; /* Increase font size */

}

.blog button:hover{
  background-color: whitesmoke; /* Set a background color */
  color: #6665ee; /* Text color */
  border: 2px solid #6665ee;
}

.youtube{
  font-family: 'Montserrat', sans-serif;
  color: #222;
  font-size: 25px;
  padding: 15px;
  background: white;
  margin: 0 auto;
  border-radius: 15px;
  border: 2px solid #6665ee;
}

.youtube h2{
  margin:20px
}

.iframe{ 
  margin: 0 auto -3%;
  position: relative;
  overflow: hidden;
  max-width: 900px;
  max-height: 300px ;
  width: 100%;
  padding-top: 550px;
}

.responsive-iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: 500px ;
}


.spotify{
  font-family: 'Montserrat', sans-serif;
  color: #222;
  font-size: 25px;
  padding: 15px;
  background: white;
  margin: 0 auto;
  border-radius: 15px;
  border: 2px solid #6665ee;
}

.spotify span{
  font-family: 'Jost', sans-serif;
  display: block;
  text-align: left;
  padding: 15px;
  font-weight: 700;
  color: #0a0a0a;
  font-size: 0.75em;
}
.spotify span img{
  padding:5px; 
  vertical-align: middle; 
  width:45px; 
  height:45px;
 
}
.spotify img{
  opacity: 1;
  object-fit: cover;
  cursor: pointer;
  width: 150px;
  height: 150px;
  display: inline-flex;
  padding: 5px;
}


.calismalar-header{
  font-size:50px;
  margin: 50px;
}

.blogcuk {
  border: 2px solid #6665ee;
  border-top: 0;
  border-radius:  0 0 15px 15px;
  margin-bottom: 10px;
}
/*swiper for both parts */

.swiper {
  padding: 15px;
  border: 2px solid #6665ee;
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
  background: #eee;
  font-family:'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;

}
.job .swiper {
  border: 2px solid #6665ee;
  border-radius: 15px;  
}

.swiper-slide {
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius:15px;
  border: 1px solid #6665ee;
  /* Center slide text vertically */
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}


.swiper-slide .description{
  text-align: left;
}
.swiper-slide .description .deneme{
  padding: 0px;
  font-size: 80%;
}
.swiper-slide img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 auto;
  display: block;
}

@media only screen and (max-width: 1024px) { /*1024den kucukse*/
    .headline2,.headline3{
        font-family: 'DM Serif Display', serif;
        position: absolute;
        top: 50%;
        left: 10%;
        font-size: 18px;
        transform: translate(-20%,-70%);
        color: black;
    }
    .blog{
      margin-top: 45%;
    }
    .iframe{ 
      margin: 0 auto 0;
      position: relative;
      overflow: hidden;
      max-width: 900px;
      max-height: 300px ;
      width: 100%;
      padding-top: 56.25%;
    }
  }

@media only screen and (max-width: 768px) { /*768den kucukse*/
    .headline2,.headline3{
        font-family: 'DM Serif Display', serif;
        position: absolute;
        top: 50%;
        left: 10%;
        font-size: 15px;
        transform: translate(-20%,-70%);
        color: black;
    }
    .skill-header, .calismalar-header{
      font-size:20px; margin-bottom: 30px;
    }
    .content{
      width:90%
    }
    .barbody1 , .barbody2{
      display: grid;
      justify-content: left;
      text-align: left;
      padding: 25px 30px;
      height: 100%;
      width: 100%;
      background-color: #efefef;
      border:2px solid rgba(102, 101, 238, 0.7);
      border-radius: 20px;
      margin-bottom:50px;   
    }

    .barbody1{
      box-shadow: rgba(102, 101, 238, 0.4) 5px 5px, rgba(102, 101, 238, 0.3) 10px 10px, rgba(102, 101, 238, 0.2) 15px 15px, rgba(102, 101, 238, 0.1) 20px 20px, rgba(102, 101, 238, 0.05) 25px 25px;
    }

    .barbody2{
      box-shadow: rgba(102, 101, 238, 0.4) 5px 5px, rgba(102, 101, 238, 0.3) 10px 10px, rgba(102, 101, 238, 0.2) 15px 15px, rgba(102, 101, 238, 0.1) 20px 20px, rgba(102, 101, 238, 0.05) 25px 25px;
    }

    .blog{
      margin-top: 45%;
    }

    .youtube{
      font-size: 15px;
      
    }
    
    .youtube h2{
      margin:5px 0 10px; 
    }

    .iframe{ 
      margin: 0 auto 0;
      position: relative;
      overflow: hidden;
      max-width: 900px;
      max-height: 300px ;
      width: 100%;
      padding-top: 56.25%;
    }
  }
